button {
    border-radius:15px;
    height:40px;
    padding:8px 16px;
    margin-right: 5px;
    margin-bottom: 5px;

}

form {
    max-width: 600px;
    margin: auto;
  }
  
select
 {
    display: inline;
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

input {
    display: inline;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

.textannonce{
    height: 150px;
}
